<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.module_developr">

    <application
        android:networkSecurityConfig="@xml/network_config"
        tools:targetApi="n">

        <activity android:name=".DeveloperActivity"/>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
    </application>

</manifest>